* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: stretch; */
}

.navbar{
    height: 15vh;
    background-color: #ffffff;
}

.navbar-ul{
    margin: 0;
    list-style: none;
    display: flex;
    padding: 0 0 0 20px;
}

.navbar-ul li{
    display: inline;
}

ul li a{
    text-decoration: none;
    color: #000000;
}

.fa-shopping-bag{
    flex-basis: 10%;
    margin-top: 55px;
    color: #b5c94d;
    font-size: 30px;
}

.nav-item{
    margin-top: 65px;
}

.nav-item-1{
    flex-basis: 30%;
}

.nav-item-2{
    flex-basis: 30%;
}

.nav-item-3{
    flex-basis: 30%;
}

  /* Worked on navbar */

.main-articles{
    display: flex;
    flex-grow: 1;
    /* height: 90vh; */
}

.all-elements{
    background-color: #ffffff;
}

.article-list{
    border-right: 1px solid #9a9a9a;
    background-color: #ffffff;
    flex-basis: 10%;
}

.article-list-header{
    margin-left: 10px;
}

.article-list-ul{
    list-style: none;
    padding-left: 15px;
}

.product-samples{
    /* background-color: #000000; */
    flex-basis: 30%;
    border-right: 1px solid #9a9a9a;
}

.product-samples-sub{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sample-images{
    width: 25%;
    height: 10%;
}

.product-samples-sub-paragraph{
    margin: 10px 0 5px 0;
    font-size: 75%;
    font-weight: 550;
}

.public-posts{
    /* background-color: #FFFF00; */
    flex-basis: 30%;
}

.public-posts-header{
    font-size: 1.2em;
    color: #b6cc47;
    margin: 25px 0 0 20px;
}

.grid-pic-header{
    font-size: 1.1em;
    margin: 10px 0 10px 20px;
}

.public-post-picture{
    margin-left: 35px;
    height: 200px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.public-post-text{
    font-size: .8em;
    margin-left: 20px;
}

.footer-headline{
    margin: 20px 0 0 20px;
}

.public-pictures{
    flex-basis: 30%;
}

.h-celebrity{
    float: right;
    height: 150px;
    widows: 100px;
}